/* Style de la boîte générale */
.admin-box {
    border: 2px solid #d3d3d3;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Contenu à gauche */
.admin-box .content {
    flex: 1;
}

/* Boutons à droite */
.admin-box .actions {
    display: flex;
    gap: 10px;
}

/* Style des boutons */
.admin-box .actions button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.admin-box .actions button.delete {
    background-color: #f44336; /* Rouge pour le bouton supprimer */
}

.admin-box .actions button.edit {
    background-color: #008CBA; /* Bleu pour le bouton modifier */
}

/* Effet au survol des boutons */
.admin-box .actions button:hover {
    opacity: 0.8;
}

.admin-box .content .medecin_admin{
    list-style-type:none ;
}

